@model gepv.Models.IndexViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Gerenciar";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="element-box">
    <h4>Alterar as configurações de conta</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>Foto de Perfil:</dt>
        <dd>
            @if (User.Identity.GetUserName() != null)
            {
                var imgUrl = Url.Content("~/Content/images/profile/" + User.Identity.GetUserName() + ".png") + "?time=" + DateTime.Now.ToString();
                <div class="upimage">
                    <div class="accimg">
                        <img src="@imgUrl" height="250" width="250" />
                    </div>
                    <div class="mngimg">
                        @using (Html.BeginForm("UploadPhoto", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="btn btn-default browseimg">
                                <input type="file" name="file" id="files" onchange="this.form.submit()" />
                            </div>
                        }
                    </div>
                </div>
            }

        </dd>
        <dt>Senha:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Alterar sua senha", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Criar", "SetPassword")
            }
            ]
        </dd>
     
    </dl>
</div>
