@model gepv.Models.Saida

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Tem certeza de que deseja excluir isso?</h3>
<div>
    <h4>Saida</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataSaida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSaida)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
