@model IEnumerable<gepv.Models.Saida>
@using gepv.Models
@{
    ApplicationDbContext db = new ApplicationDbContext();
    ViewBag.Title = "Index";
    List<Produtos> pro = new List<Produtos>();
    foreach (var i in db.Produtos)
    {
        pro.Add(i);
    }
    List<Cliente> cliente = new List<Cliente>();
    foreach (var i in db.Clientes)
    {
        cliente.Add(i);
    }
    List<Fornecedor> fornecedors = new List<Fornecedor>();
    foreach (var i in db.Fornecedors)
    {
        fornecedors.Add(i);
    }
    List<ApplicationUser> users = new List<ApplicationUser>();
    foreach (var i in db.Users)
    {
        users.Add(i);
    }
}

<div class="element-content">
    <div class="row">
        <div class="col-sm-4 col-xxxl-3">
            <form id="my_form" method="post" action="/Saidas/PrintInvoice">
                <input id="data" name="data" type="hidden" value="@DateTime.Now.AddDays(-7)" />
                <a onclick="document.getElementById('my_form').submit();" class="element-box el-tablo" href="#">
                        <div class="label">
                            baixar o
                            relatório
                        </div>
                        <div class="value">
                            Semanal
                        </div>
                </a>
            </form>
        </div>
        <div class="col-sm-4 col-xxxl-3">
            <form id="my_forma" method="post" action="/Saidas/PrintInvoice">
                <input id="data" name="data" type="hidden" value="@DateTime.Now.AddMonths(-1)" />
                <a onclick="document.getElementById('my_forma').submit();" class="element-box el-tablo" href="#">
                    <div class="label">
                        baixar o
                        relatório
                    </div>
                    <div class="value">
                        Mensal
                    </div>
                </a>
            </form>
        </div>
        <div class="col-sm-4 col-xxxl-3">
            <form id="my_form" method="post" action="/Saidas/PrintInvoice">
                <input id="data" name="data" type="hidden" value="@DateTime.Now.AddYears(-1)" />
                <a onclick="document.getElementById('my_form').submit();" class="element-box el-tablo" href="#">
                    <div class="label">
                        baixar o
                        relatório
                    </div>
                    <div class="value">
                        Anual
                    </div>
                </a>
            </form>
        </div>


    </div>
</div>
<div class="element-box">
    <table class="table">
        <tr>

            <th>
                Vendedor
            </th>
            <th>
                Data de Venda
            </th>
            <th>
                Produto
            </th>
            <th>
                Cliente
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                Valor da Compra
            </th>
        </tr>

        @foreach (var item in db.Saidas)
        {
            var total = pro.Where(x => x.Id == item.Produto.Id).First().Preco * item.Quantidade;
            <tr>

                <td>
                    @if (item.Usuario != null)
                    {
                        <i>
                            @users.Where(x => x.Id == item.Usuario.Id).First().FirstName @users.Where(x => x.Id == item.Usuario.Id).First().LastName
                        </i>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataSaida)
                </td>
                <td>
                    @pro.Where(x => x.Id == item.Produto.Id).First().Nome
                </td>
                <td>
                    @cliente.Where(x => x.Id == item.Cliente.Id).First().Nome
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @total,00Kzs
                </td>

            </tr>
        }

    </table>
</div>